In [2]:
import pandas as pd

In [4]:
df_2024 = pd.read_csv(r"C:\Users\andre\IdeaProjects\TyuiuDirectionsRecSys\data\Подготовленные_данные\students_data_2024.csv")
df_2024 = df_2024.drop("Unnamed: 0", axis=1)
df_2024.head(3)

,Пол,Ср. балл док-та об образовании,Сумма баллов,Обществознание,мат,Информатика и информационно–коммуникационные технологии (ИКТ),РУССКИЙ ЯЗЫК,Физика,Химия,История,Формирующее подр.,Направление подготовки,ГОД
0,Ж,5.000,247,0.0,84.0,0.0,89.0,64.0,0.0,0.0,Институт сервиса и отраслевого управления,21.03.02 Землеустройство и кадастры,2024
1,Ж,5.000,234,0.0,0.0,0.0,68.0,0.0,0.0,0.0,Институт сервиса и отраслевого управления,43.03.00 Сервис и туризм,2024
2,Ж,4.688,187,0.0,58.0,0.0,67.0,62.0,0.0,0.0,Институт промышленных технологий и инжиниринга,28.03.03 Наноматериалы,2024

In [5]:
directions = df_2024["Направление подготовки"]
directions_unique = directions.unique()
directions_unique

array(['21.03.02 Землеустройство и кадастры', '43.03.00 Сервис и туризм',
       '28.03.03 Наноматериалы', '21.05.01 Прикладная геодезия',
       '15.03.04 Автоматизация технологических процессов и производств',
       '18.03.01 Химическая технология', '08.03.01 Строительство',
       '08.05.00 Техника и технологии строительства',
       '21.03.01 Нефтегазовое дело',
       '27.03.04 Управление в технических системах',
       '20.03.01 Техносферная безопасность',
       '21.05.00 Прикладная геология, горное дело, нефтегазовое дело и геодезия',
       '13.03.02 Электроэнергетика и электротехника',
       '27.03.03 Системный анализ и управление',
       '09.03.00 Информатика и вычислительная техника',
       '15.03.06 Мехатроника и робототехника',
       '07.03.03 Дизайн архитектурной среды',
       '27.03.00 Управление в технических системах',
       '41.03.06 Публичная политика и социальные науки',
       '18.03.00 Химические технологии', '05.03.01 Геология',
       '07.03.01 Архитектура', '54.03.01 Дизайн',
       '23.05.01 Наземные транспортно-технологические средства',
       '13.03.01 Теплоэнергетика и теплотехника',
       '12.03.01 Приборостроение',
       '12.03.04 Биотехнические системы и технологии',
       '38.03.05 Бизнес-информатика',
       '19.03.04 Технология продукции и организация общественного питания',
       '01.03.02 Прикладная математика и информатика',
       '38.03.06 Торговое дело', '15.03.03 Прикладная механика',
       '38.03.03 Управление персоналом', '15.03.01 Машиностроение',
       '23.03.01 Технология транспортных процессов',
       '22.03.01 Материаловедение и технологии материалов',
       '42.03.01 Реклама и связи с общественностью'], dtype=object)

In [6]:
directions_df = pd.DataFrame(directions_unique, columns=['direction'])
directions_df

                                            direction
0                 21.03.02 Землеустройство и кадастры
1                            43.03.00 Сервис и туризм
2                              28.03.03 Наноматериалы
3                        21.05.01 Прикладная геодезия
4   15.03.04 Автоматизация технологических процесс...
5                      18.03.01 Химическая технология
6                              08.03.01 Строительство
7         08.05.00 Техника и технологии строительства
8                          21.03.01 Нефтегазовое дело
9          27.03.04 Управление в технических системах
10                 20.03.01 Техносферная безопасность
11  21.05.00 Прикладная геология, горное дело, неф...
12        13.03.02 Электроэнергетика и электротехника
13             27.03.03 Системный анализ и управление
14      09.03.00 Информатика и вычислительная техника
15               15.03.06 Мехатроника и робототехника
16                07.03.03 Дизайн архитектурной среды
17         27.03.00 Управление в технических системах
18     41.03.06 Публичная политика и социальные науки
19                     18.03.00 Химические технологии
20                                  05.03.01 Геология
21                               07.03.01 Архитектура
22                                    54.03.01 Дизайн
23  23.05.01 Наземные транспортно-технологические ...
24            13.03.01 Теплоэнергетика и теплотехника
25                           12.03.01 Приборостроение
26       12.03.04 Биотехнические системы и технологии
27                        38.03.05 Бизнес-информатика
28  19.03.04 Технология продукции и организация об...
29       01.03.02 Прикладная математика и информатика
30                             38.03.06 Торговое дело
31                       15.03.03 Прикладная механика
32                     38.03.03 Управление персоналом
33                            15.03.01 Машиностроение
34         23.03.01 Технология транспортных процессов
35  22.03.01 Материаловедение и технологии материалов
36         42.03.01 Реклама и связи с общественностью

In [7]:
directions_df.to_csv("directions_2024.csv")

In [12]:
columns = {
    "мат": "Математика",
    "Информатика и информационно–коммуникационные технологии (ИКТ)": "Информатика",
    "РУССКИЙ ЯЗЫК": "Русский язык",
}

df_2024 = df_2024.rename(columns=columns)
df_2024.head(3)

,Пол,Ср. балл док-та об образовании,Сумма баллов,Обществознание,Математика,Информатика,Русский язык,Физика,Химия,История,Формирующее подр.,Направление подготовки,ГОД
0,Ж,5.000,247,0.0,84.0,0.0,89.0,64.0,0.0,0.0,Институт сервиса и отраслевого управления,21.03.02 Землеустройство и кадастры,2024
1,Ж,5.000,234,0.0,0.0,0.0,68.0,0.0,0.0,0.0,Институт сервиса и отраслевого управления,43.03.00 Сервис и туризм,2024
2,Ж,4.688,187,0.0,58.0,0.0,67.0,62.0,0.0,0.0,Институт промышленных технологий и инжиниринга,28.03.03 Наноматериалы,2024

In [17]:
file_path = r"C:\Users\andre\IdeaProjects\TyuiuDirectionsRecSys\data\Подготовленные_данные\Processed_Applicants.csv"

df = pd.read_csv(file_path)
df = df.drop(["Unnamed: 0", "foreign_citizenship", "military_service", "bonus_points"], axis=1)

columns = {
    "gender": "Пол",
    "gpa": "Ср. балл док-та об образовании",
    "points": "Сумма баллов",
    "russian": "Русский язык",
    "social_science": "Обществознание",
    "math": "Математика",
    "physics": "Физика",
    "chemistry": "Химия",
    "history": "История",
    "informatics": "Информатика",
    "direction": "Направление подготовки"
}
df = df.rename(columns=columns)
df["Пол"] = df["Пол"].apply(lambda x: "М" if x == 1 else "Ж")
df.head(3)

,Пол,Ср. балл док-та об образовании,Сумма баллов,Направление подготовки,Русский язык,Обществознание,Математика,Физика,Химия,История,Информатика
0,Ж,4.667,210,27.03.01 Стандартизация и метрология,87,0,56,57,0,0,0
1,М,3.700,190,08.03.01 Строительство,72,0,60,58,0,0,0
2,М,5.000,214,08.03.01 Строительство,85,0,70,51,0,0,0

In [18]:
print(df.shape)
print(df_2024.shape)

(10646, 11)
(2843, 13)

In [20]:
df_2024 = df_2024.drop(["Формирующее подр.", "ГОД"], axis=1)
df_2024.shape

(2843, 11)

In [21]:
df_all = pd.concat([df_2024, df])
df.head(5)

,Пол,Ср. балл док-та об образовании,Сумма баллов,Направление подготовки,Русский язык,Обществознание,Математика,Физика,Химия,История,Информатика
0,Ж,4.667,210,27.03.01 Стандартизация и метрология,87,0,56,57,0,0,0
1,М,3.700,190,08.03.01 Строительство,72,0,60,58,0,0,0
2,М,5.000,214,08.03.01 Строительство,85,0,70,51,0,0,0
3,М,4.286,208,13.03.01 Теплоэнергетика и теплотехника,76,0,70,52,0,0,0
4,М,4.826,189,08.03.01 Строительство,68,0,60,61,0,0,0

In [22]:
df_all.shape

(13489, 11)

In [23]:
df_all.to_csv("tyuiu_students_2019-2024.csv")