In [14]:
import pandas as pd

In [15]:
applicants_df = pd.read_csv(r"C:\Users\andre\IdeaProjects\TyuiuDirectionsRecSys\scripts\Processed_Applicants.csv")
applicants_directions_df = applicants_df["direction"]
applicants_directions = applicants_directions_df.unique()
applicants_directions = applicants_directions.tolist()
applicants_directions

['27.03.01 Стандартизация и метрология',
 '08.03.01 Строительство',
 '13.03.01 Теплоэнергетика и теплотехника',
 '21.03.01 Нефтегазовое дело',
 '18.03.02 Энерго- и ресурсосберегающие процессы в химической технологии, нефтехимии и биотехнологии',
 '27.03.02 Управление качеством',
 '15.03.04 Автоматизация технологических процессов и производств',
 '08.05.01 Строительство уникальных зданий и сооружений',
 '23.03.03 Эксплуатация транспортно-технологических машин и комплексов',
 '07.03.03 Дизайн архитектурной среды',
 '21.03.02 Землеустройство и кадастры',
 '21.05.02 Прикладная геология',
 '15.03.01 Машиностроение',
 '27.03.03 Системный анализ и управление',
 '23.05.01 Наземные транспортно-технологические средства',
 '08.05.02 Строительство, эксплуатация, восстановление и техническое прикрытие автомобильных дорог, мостов и тоннелей',
 '15.03.05 Конструкторско-технологическое обеспечение машиностроительных производств',
 '21.05.03 Технология геологической разведки',
 '12.03.01 Приборостроение',
 '22.03.01 Материаловедение и технологии материалов',
 '20.03.01 Техносферная безопасность',
 '07.03.01 Архитектура',
 '09.03.02 Информационные системы и технологии',
 '13.03.02 Электроэнергетика и электротехника',
 '12.03.04 Биотехнические системы и технологии',
 '09.03.01 Информатика и вычислительная техника',
 '05.03.01 Геология',
 '19.03.04 Технология продукции и организация общественного питания',
 '27.03.04 Управление в технических системах',
 '23.03.02 Наземные транспортно-технологические комплексы',
 '18.03.01 Химическая технология',
 '43.03.01 Сервис',
 '23.03.01 Технология транспортных процессов',
 '21.05.01 Прикладная геодезия',
 '43.03.03 Гостиничное дело',
 '27.03.05 Инноватика',
 '15.03.06 Мехатроника и робототехника',
 '45.03.04 Интеллектуальные системы в гуманитарной сфере',
 '01.03.02 Прикладная математика и информатика',
 '02.03.01 Математика и компьютерные науки',
 '21.05.00 Прикладная геология, горное дело, нефтегазовое дело и геодезия',
 '09.03.00 Информатика и вычислительная техника',
 '08.05.00 Техника и технологии строительства',
 '43.03.00 Сервис и туризм',
 '28.03.03 Наноматериалы',
 '18.03.00 Химические технологии',
 '27.03.00 Управление в технических системах',
 '41.03.06 Публичная политика и социальные науки']

In [16]:
directions_df = pd.read_csv("ТИУ Направления подготовки Бакалавриат.csv")
directions_df.drop("Unnamed: 0", axis=1, inplace=True)
directions_df.head(3)

,name,description
0,13.03.01 Теплоэнергетика и теплотехника,Форма обучения:Очно/ЗаочноПрофиль:Промышленная...
1,20.03.01 Техносферная безопасность,Форма обучения:Очно/заочноПрофили:Инженерная\n...
2,21.03.02 Землеустройство и кадастры,Форма обучения:Очно/ЗаочноПрофиль:Кадастр недв...

In [17]:
directions_df.shape

(57, 2)

In [19]:
directions_df = directions_df[directions_df["name"].isin(applicants_directions)]
directions_df.shape

(24, 2)

In [20]:
directions_df["name"].value_counts()

name
43.03.01 Сервис                                                                                                        2
09.03.01 Информатика и вычислительная техника                                                                          2
13.03.01 Теплоэнергетика и теплотехника                                                                                1
19.03.04 Технология продукции и организация общественного питания                                                      1
05.03.01 Геология                                                                                                      1
08.05.02 Строительство, эксплуатация, восстановление и техническое прикрытие автомобильных дорог, мостов и тоннелей    1
08.05.01 Строительство уникальных зданий и сооружений                                                                  1
08.03.01 Строительство                                                                                                 1
27.03.05 Инноватика                                                                                                    1
27.03.01 Стандартизация и метрология                                                                                   1
22.03.01 Материаловедение и технологии материалов                                                                      1
28.03.03 Наноматериалы                                                                                                 1
18.03.01 Химическая технология                                                                                         1
20.03.01 Техносферная безопасность                                                                                     1
13.03.02 Электроэнергетика и электротехника                                                                            1
12.03.01 Приборостроение                                                                                               1
09.03.02 Информационные системы и технологии                                                                           1
01.03.02 Прикладная математика и информатика                                                                           1
43.03.03 Гостиничное дело                                                                                              1
27.03.03 Системный анализ и управление                                                                                 1
21.03.02 Землеустройство и кадастры                                                                                    1
21.05.03 Технология геологической разведки                                                                             1
Name: count, dtype: int64

In [21]:
directions_df["direction_id"] = [i + 1 for i in range(len(directions_df))]
directions_df["direction_id"]

0      1
1      2
2      3
3      4
5      5
6      6
7      7
22     8
23     9
24    10
25    11
29    12
30    13
32    14
34    15
35    16
36    17
37    18
38    19
43    20
44    21
45    22
47    23
50    24
Name: direction_id, dtype: int64

In [22]:
directions_df.head(3)

,name,description,direction_id
0,13.03.01 Теплоэнергетика и теплотехника,Форма обучения:Очно/ЗаочноПрофиль:Промышленная...,1
1,20.03.01 Техносферная безопасность,Форма обучения:Очно/заочноПрофили:Инженерная\n...,2
2,21.03.02 Землеустройство и кадастры,Форма обучения:Очно/ЗаочноПрофиль:Кадастр недв...,3

In [23]:
directions_df.to_csv("Processed_Directions.csv")