In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("tyuiu_students_actual_directiobns_2019-2024.csv")
df = df.drop("Unnamed: 0", axis=1)
df.head(3)

,Пол,Ср. балл док-та об образовании,Сумма баллов,Обществознание,Математика,Информатика,Русский язык,Физика,Химия,История,Направление подготовки
0,Ж,5.000,247,0.0,84.0,0.0,89.0,64.0,0.0,0.0,21.03.02 Землеустройство и кадастры
1,Ж,5.000,234,0.0,0.0,0.0,68.0,0.0,0.0,0.0,43.03.00 Сервис и туризм
2,Ж,4.688,187,0.0,58.0,0.0,67.0,62.0,0.0,0.0,28.03.03 Наноматериалы

In [4]:
df['ID'], unique_directions = pd.factorize(df['Направление подготовки'])

In [5]:
len(df["ID"].unique())

37

In [6]:
from sklearn.metrics.pairwise import cosine_similarity

In [7]:
df["Пол"] = df["Пол"].apply(lambda x: 1 if x == "М" else 0)

In [8]:
features = [
    "Пол",
    "Ср. балл док-та об образовании",
    "Сумма баллов",
    "Обществознание",
    "Математика",
    "Информатика",
    "Русский язык",
    "Физика",
    "Химия",
    "История"
]

In [9]:
cos_sim_matrix = cosine_similarity(df[features])

In [10]:
student_index = 0
similar_student_indices = cos_sim_matrix[student_index].argsort()[::-1][1:]
similar_students = df.iloc[similar_student_indices]
recommendations = similar_students[['Направление подготовки', "ID"]]
recommendations

                                  Направление подготовки  ID
3948                              08.03.01 Строительство   6
4334                          21.03.01 Нефтегазовое дело   8
12111                                  05.03.01 Геология  20
11703  21.05.00 Прикладная геология, горное дело, неф...  11
4374        12.03.04 Биотехнические системы и технологии  26
...                                                  ...  ..
1307                      18.03.00 Химические технологии  19
1317                  20.03.01 Техносферная безопасность  10
319                               08.03.01 Строительство   6
1632                          21.03.01 Нефтегазовое дело   8
668                   20.03.01 Техносферная безопасность  10

[12553 rows x 2 columns]

In [11]:
test_student = {
    "Пол": 0,
    "Ср. балл док-та об образовании": 4.2,
    "Сумма баллов": 227,
    "Обществознание": 0,
    "Математика": 76,
    "Информатика": 0,
    "Русский язык": 74,
    "Физика": 0,
    "Химия": 70,
    "История": 80
}

test_student_df = pd.DataFrame(test_student, index=[0])

combined_df = pd.concat([df[features], test_student_df], ignore_index=True)

In [12]:
cos_sim_matrix = cosine_similarity(combined_df)

In [13]:
new_student_index = len(df)
similar_students_indices = cos_sim_matrix[new_student_index].argsort()[::-1][1:]  # Исключаем самого нового студента
similar_students = combined_df.iloc[similar_students_indices]

In [14]:
recommendations = df.iloc[similar_students_indices][['Направление подготовки', 'ID']]
recommendations

                   Направление подготовки  ID
6015             43.03.00 Сервис и туризм   1
6564             43.03.00 Сервис и туризм   1
5982             43.03.00 Сервис и туризм   1
9617             43.03.00 Сервис и туризм   1
12197            43.03.00 Сервис и туризм   1
...                                   ...  ..
1307       18.03.00 Химические технологии  19
1317   20.03.01 Техносферная безопасность  10
319                08.03.01 Строительство   6
1632           21.03.01 Нефтегазовое дело   8
668    20.03.01 Техносферная безопасность  10

[12554 rows x 2 columns]

In [15]:
df.to_csv("tyuiu_students_with_ids_2019-2024.csv")